.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .Profile-logo {
    animation: Profile-logo-spin infinite 20s linear;
  }
}
/* PROFILE.JS IMAGE */
@keyframes Profile-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Profile-logo {
  position: absolute;
  right: 0;
  margin: 5%;
  height: 50%;
  width: 20%;
  border-radius: 15%;
}

.App {
  background-color: #050505;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.dark-theme {
  background-color: #db33db;
  color: whitesmoke;
}

.light-theme {
  background-color: rgb(105, 243, 123);
  color: #333333;
}

/* NAVBAR */
.nav {
  margin: 3px;
}
.navbar {
  margin-top: 0;
  width: 100%;
  position: top;
  min-height: 2vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #630987;
  transition: all 0.7s ease-in;
}
.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #000303;
}
.ul {
  margin-right: 70px;
  height: 90px;
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

a {
  color: rgb(8, 8, 8);
  margin: 130px;
  font-weight: 200;
  font-size: 22px;
}

#githubLink {
  color: #630987;
}
.link_Projects {
  width: 400%;
  margin-top: 100px;
  background-color: #db33db;
  font-size: 120%;
}
/* My Info */
.myInfo {
  width: 100%;
  margin: 5%;
  position: relative;
  right: 220px;
}

/* Background met Katten */
.grappige-kat {
  width: 140%;
  height: auto;
  position: center;
  margin-top: 157%;
}
